

body {
color: #212121;
font-family: sans-serif;
margin: 0;
}

nav a {
  text-decoration: none;
  color: #F5F5F5;
  background-color: #9E9E9E;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  transition: 1s all;
}

nav a:hover {
  background-color: #727272;
}

header {
  text-align: center;
}

header img {
  border-radius: 50%;
}

header h1 {
  font-family: 'Amatic SC', cursive;
}

h2 {
  color: black;
}

section {
  text-align: center;
  background-image: url(https://unsplash.com/photos/0G1r-Cg0zS8/download);
  height: 400px;
  background-size:cover;
}

#features {
  background-image: none;
  background-color: #C0C0C0;
  height: 250px;
}

p{
  color: black;
  background-color: white;
  font-family: Helvetica;
  margin: 15px;
  margin-top: 80px;
  padding: 20px;
  width: 200px;
  display: inline-block;
  transition: 1s all;
 }
 
 p:hover {
   transform: rotate(-9deg);
 }

button {
  background-color: black;
  color: white;
  border: none;
  padding: 20px;
  margin-top: 175px;
  opacity: .8;
 
}

footer {
background-color: #C0C0C0;
height: 150px;
text-align: center;
padding: 50px;
box-sizing: border-box;
}

.menu-selected {
  background-color: black;
  
}

table {
  width: 1214px;
  margin: 0 auto;
}
